$light-primary: #8270DB;
$light-secondary: #B8ACF6; 
$light-background: #FFFFFF;
$light-text: #101214;
$light-accent: #f39c12;

// Dark Theme Palette
$dark-primary: #8270DB;
$dark-secondary: #B8ACF6;
$dark-background: #101214;
$dark-text: #FFFFFF;
$dark-accent: #f1c40f;

// Purple Shades
$purple100: #F3F0FF;
$purple200: #DFD8FD;
$purple300: #B8ACF6;
$purple400: #9F8FEF;
$purple500: #8F7EE7;
$purple600: #8270DB;
$purple700: #6E5DC6;
$purple800: #5E4DB2;
$purple900: #352C63;
$purple1000: #2B273F;

$purple100-opposite: #0c0f00;
$purple200-opposite: #202702;
$purple300-opposite: #474309;
$purple400-opposite: #60616F;
$purple500-opposite: #707118;
$purple600-opposite: #7d8f24;
$purple700-opposite: #91923a;
$purple800-opposite: #a1b24d;
$purple900-opposite: #cad39c;
$purple1000-opposite: #d4d8c0;