@import './assets/fonts';
@import './assets/colors';


body {
  margin: 0;
  font-family: 'Regular', sans-serif;
  background-color: $dark-background;
  color: $dark-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
